body {
    font-family: Arial, Helvetica, sans-serif;

}

form {
    display: inline;
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    background-color: #fff;
    color: #000;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
input {
    font-size: 16px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    background-color: #fff;
    background-image: none;
    border-color: #ccc;
    color: #333;
    text-align: center;
    vertical-align: middle;
    display: inline;
    width: 20%;
}

button {
    font-size: 16px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    background-color: green;
    background-image: none;
    border-color: #ccc;
    color: rgb(255, 255, 255);
    text-align: center;
    vertical-align: middle;
    width: 115px;
}
.list {
    margin-top: 25px;
    margin-left: 17%;
    width: 65%;
    border-collapse: collapse;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
li {
    font-size: 25px;
}
